.paper {
    background-color: #1c1c1c !important;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.loginCard {
    /* background-color: #333333 !important; */
    background-color: transparent !important;
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 25%;
    /* width: 40%; */
    width: 460px;
    border-color: transparent !important;
}

.inputs {
    width: 75%;
    
    /* background-color: #FDE311; */
}